<h1>Add a decade</h1>

<p>Enter a decade here:</p>

<form action="/decades" method="post">
  <label for="name">Decade</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add Decade</button>
</form>
